<div id="<%= dom_id transfer %>">
  <p>
    <strong>Income:</strong>
    <%= transfer.income %>
  </p>

  <p>
    <strong>Sum:</strong>
    <%= transfer.sum %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= transfer.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= transfer.user_id %>
  </p>

</div>
