<p style="color: green"><%= notice %></p>

<h1>Transfers</h1>

<div id="transfers">
  <% @transfers.each do |transfer| %>
    <%= render transfer %>
    <p>
      <%= link_to "Show this transfer", transfer %>
    </p>
  <% end %>
</div>

<%= link_to "New transfer", new_transfer_path %>




<%= link_to "cancel_user_registration_path", cancel_user_registration_path %>

<%= link_to "edit_user_registration_path", edit_user_registration_path %>

<%= link_to "destroy_user_session_path", destroy_user_session_path %>
